<hr>
<p>Prompt: {{evaluation.promptResponse.prompt.title}}</p>
<p>Grammar: {{evaluation.grammar}}
Vocabulary: {{evaluation.vocabulary}}
Structure: {{evaluation.structure}}
Spelling: {{evaluation.spelling}}
Creativity: {{evaluation.creativity}}</p>
<p>Notes: {{evaluation.notes}}</p>
