<div class="prompt-snippet-container">
{{#if isTeacher}}
  <h5>{{promptResponse.student.name}}'s response:</h5>
  <p>{{promptResponse.text}}</p>
  {{#unless evaluating}}
    <button class="btn btn-success btn-xs" {{action 'toggleEvaluating'}}>Evaluate</button>
  {{else}}
    {{evaluation-form promptResponse=promptResponse createEvaluation='createEvaluation'}}
    <button class="btn btn-secondary btn-xs" {{action 'toggleEvaluating'}} style="margin-top: 10px;">Cancel</button>
  {{/unless}}
{{else}}
  <h5>{{promptResponse.prompt.title}}, for {{promptResponse.prompt.teacher.name}}</h5>
  <p>Prompt: {{promptResponse.prompt.text}}</p>
  <p>Your response:</p>
  <p>{{promptResponse.text}}</p>
{{/if}}
</div>
