<div>
  <p>Grammar: {{input placeholder='Grammar (1-10)' value=form.grammar}}</p>
  <p>Vocabulary: {{input placeholder='Vocabulary (1-10)' value=form.vocabulary}}</p>
  <p>Structure: {{input placeholder='Structure (1-10)' value=form.structure}}</p>
  <p>Spelling: {{input placeholder='Spelling (1-10)' value=form.spelling}}</p>
  <p>Creativity: {{input placeholder='Creativity (1-10)' value=form.creativity}}</p>
  <p>Notes: {{input placeholder='Notes' value=form.notes}}</p>
</div>
<button class="btn btn-success"> Submit </button>
{{!-- {{action 'createPromptResponse'}} --}}
