<div class="col-md-8 col-md-offset-2">
  <h3 class="page-title">My Evaluations</h3>

  {{#each model.evaluations as |eachEvaluation|}}
    {{evaluation-snippet evaluation=eachEvaluation}}
  {{/each}}

  <div class="average-scores">
    <h4>Average Scores:</h4>
    <p>Grammar: {{averageGrammar model.evaluations model.evaluations.length}}</p>
    <p>Vocabulary: {{averageVocabulary model.evaluations model.evaluations.length}}</p>
    <p>Structure: {{averageStructure model.evaluations model.evaluations.length}}</p>
    <p>Spelling: {{averageSpelling model.evaluations model.evaluations.length}}</p>
    <p>Creativity: {{averageGrammar model.evaluations model.evaluations.length}}</p>
  </div>

  {{return-button}}
</div>
